<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="ProjectModuleManager">
    <modules>
      <module fileurl="file://$PROJECT_DIR$/MobileCompute.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist" filepath="$PROJECT_DIR$/MobileCompute.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist" />
    </modules>
  </component>
</project>
